footer {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
}

footer img {
  width: 200px;
  background-color: #ccc;
  border-radius: 5px;
}

footer p {
  font-size: 1rem;
  color: #fff;
}
